@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway-Bold.ttf') format('truetype'),
    url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Bold.woff') format('woff'),
    url('fonts/OpenSans-Bold.ttf') format('truetype'),
    url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Regular.woff') format('woff'),
    url('fonts/Raleway-Regular.ttf') format('truetype'),
    url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-SemiBold.eot');
    src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-SemiBold.woff') format('woff'),
    url('fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-front,
.header-content {
    background-image: url("img/header-background.jpg");
}

.header-front .wrapper {
    box-sizing: border-box;
    border-bottom: 1px solid #505369;
    padding: 38px 0;
    text-align: right;
}

.header-front .logo {
    float: left;
    padding-bottom: 4px;
}

.header-front nav {
    padding:0;
    margin: 0;
    font-size: 0;
}

.header-front nav a {
    display: inline-block;
    padding: 5px 27px 4px 28px;
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease-out;
}

.header-front a:last-child {
    padding-right: 0;
}

.header-front nav a:hover {
    color: #E84545;
}

.header-content .wrapper{
    padding: 142px 125px 76px 125px;
    text-align: center;
}
.header-content h1 {
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 65px;

    text-align: center;
    line-height: 71px;
    text-transform: uppercase;
    color: white;
}

.header-content p {
    margin: 24px 0 0 -1px;

    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 22px;

    color: white;
    text-align: center;
    line-height: 33px;
}

.header-content .button {
    margin: 73px 0 80px 0;
    padding: 15px 45px 14px 52px;
    border-radius: 2px;
    border: none;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 13px;

    text-align: center;
    background-color: #E84545;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: background-color 0.5s ease;
}

.header-content .button:hover {
    background-color: #fd7d7d;
    transition: background-color 0.5s ease;
}

.header-content .button:active {
    background-color: #903535;
    transition: background-color 0.5s ease;
}

.promo-container {
    margin: 120px 0 50px;
}

.promo-container .wrapper {
    font-size: 0;
}

.promo-item {
    display: inline-block;
    width: 33.333%;
    margin-bottom: 57px;

    font-size: 14px;
    text-align: center;

    background: center top no-repeat;
}

.promo-item i {
    display: inline-block;
    width: 80px;
    height: 60px;
    background-image: url("img/sprite-promo.png");
}

.promo-item .pencil {
    background-position: 6px 0;
}

.promo-item .monitor {
    background-position: 200px 0;
}

.promo-item .lamp {
    background-position: 98px 0;
}

.promo-item .atom {
    background-position: 8px 64px;
}

.promo-item .bag {
    background-position: 200px 64px;
}

.promo-item .download {
    background-position: 98px 64px;
}

.promo-item h2{
    margin: 32px 0 19px 0;

    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 14px;

    color: #2d3033;
    text-transform: uppercase;
}

.promo-item p {
    padding: 0 35px;

    font-family: Raleway;
    font-weight: normal;
    font-size: 14px;

    line-height: 21px;
    color: #999999;
}

.portfolio {
    font-size: 0;
    min-width: 1000px;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-size: cover;
}

.portfolio-item:nth-child(4n) {
    border-right: none;
}

.portfolio-item.project1 {
    background-image: url("img/project1.png") ;
}

.portfolio-item.project2 {
    background: url("img/project2.png") -85px 0;
}

.portfolio-item.project3 {
    background: url("img/project3.png") -85px 0;
}

.portfolio-item.project4 {
    background: url("img/project4.png") -70px 0;
}

.portfolio-item.project5 {
    background-image: url("img/project5.png");
}

.portfolio-item.project6 {
    background: url("img/project6.png") -85px 0;
}

.portfolio-item.project7 {
    background: url("img/project7.png") -85px 0;
}

.portfolio-item.project8 {
    background: url("img/project8.png") -70px 0;
}

.portfolio-item h2{
    position: absolute;
    top: 43%;
    z-index: 300;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    display: none;
}

.portfolio-item p {
    position: absolute;
    top: 50%;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    z-index: 300;
    display: none;
}

.portfolio-item h2 a,
.portfolio-item p a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.portfolio-item .caption {
    position: absolute;
    top: 0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    display: none;
    transition: background-color 0.5s ease;
}

.portfolio-item:hover .caption,
.portfolio-item:hover p,
.portfolio-item:hover h2 {
    display: block;
}

.portfolio-item .caption:active,
.portfolio-item h2:active ~ .caption,
.portfolio-item p:active ~ .caption{
    background-color: rgba(122, 37, 37, 0.9);
}

.footer-content {
    background-color: #3a3e64;
}

.footer-content .wrapper {
    font-size: 0;
}

.footer-item {
    display: inline-block;
    margin-bottom: 83px;
    width: 33.33%;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    vertical-align: top;
}

.footer-item h2 {
    margin-top: 68px;
    margin-bottom: 14px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-item p {
    margin: 0;
    padding: 0 25px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #9d9fb2;
    line-height: 23px;
}

address.footer-item p {
    padding: 0 80px;
}

.share {
    font-size: 0;
}

.share .social {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 2px;
    background: 50% 50% no-repeat;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.share .social:last-child {
    margin-right: 0;
}

.share .social-fb {
    background-image: url("img/facebook.png");
}

.share .social-tw {
    background-image: url("img/twitter.png");
}

.share .social-linkedin {
    background-image: url("img/linkedin.png");
}

.share .social:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease, border 0.5s ease;

}

.share .social:active {
    transform: translateY(2px);
}

footer .copyright {
    padding: 24px 0 40px;
    background-color: #313454;
    text-align: center;
}

footer .copyright p {
    margin: 0;
    padding-left: 5px;
    font-family: Raleway;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.copyright .wrapper {
    position: relative;
}

.copyright .icon {
    position: absolute;
    top: 28px;
    left: 547px;
    width: 15px;
    height: 15px;
    background: url("img/heart.png") 50% 50% no-repeat;
    background-size: cover;
}

.copyright .autor {
    display: inline-block;
    color: #ffffff;
}

.copyright .autor:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url("img/heart.png") 50% 150% no-repeat;
}